body {
	font-family: "Helvetica Nueue", Helvetica, Sans-serif;
	padding:0;margin:0;
	position:absolute;
	width:100%;
}

.title {
	padding-left:20px;
	padding-top:40px;
}

.column {
	position:absolute;
	top:100px;
}

.column.left {
	left:20px;
	margin-right:10px;
	right:50%;
}

.column.right {
	left:50%;
	margin-left:10px;
	right:20px;
}

.section {
	margin-bottom:60px;
	padding:0 20px;
}

ol,ul {
	padding-left:20px;
}

h2 {
	font-size:1.2em;
	padding:5px;
	font-weight:normal;
	border-top:solid 3px #000;
	border-bottom:solid 3px #000;
	background-color:#333;
	color:white;
}

pre {
	overflow:auto;
	padding:10px;
}

pre.dark {
	background-color:#eee;
	color:#0a0;
}
.blue {
	color:#227;
}
pre.light {
	margin-top:3px;
	border:solid 1px #88F;
	color:#227;
}

.section img {
	width:100%;
	border:solid 3px #eee;
}

.section img.half {
	width:47%;
}

.section img.half + img {
	float:right;
}